.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.navbar {
  background-color: #ff0000;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-item {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  padding: 10px 20px;
  margin: 0 10px;
  transition: 0.3s;
}

.navbar-item:hover {
  background-color: #fff;
  border-radius: 10px;
  transform: scale(1.1);
}
body {
  font-family: "Trebuchet MS", sans-serif;
  color: #222;
  text-align: center;
  background: linear-gradient(180deg, #ffcb05, #3b4cca);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  text-align: center;
  padding: 15px 0;
  z-index: 100;
}

.footer div {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.footer p {
  margin: 0;
  font-size: 16px;
  color: white;
}

.github-link {
  display: inline-block;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.github-logo {
  width: 32px;
  height: 32px;
  filter: invert(1);
  vertical-align: middle;
}

.github-link:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(6, 300px);
  grid-template-rows: repeat(2, 300px);
  gap: 15px;
  justify-content: center;
  align-content: center;
  margin: 40px auto;
}

.card {
  background-color: #1e293b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  opacity: 50%;
}
h1 {
  font-size: 2.5em;
  color: #ff0000;
  text-shadow: 2px 2px #000;
  margin-top: 30px;
}

.flipped {
  background: linear-gradient(180deg, #ffcb05, #3b4cca);
}
.hidden {
  display: none;
}

.card img {
  width: 90%;
  height: auto;
}
.card.flipped img {
  display: block;
}

#reset-btn {
  width: 100px;
  height: 50px;
  background-color: #000;
  color: white;
}
